begin
 prog = irexec
 remote = LAMPS
 button = LAMP1_ON
 config = /home/pi/433Utils/RPi_utils/send 11111 1 1
end

begin
 prog = irexec
 remote = LAMPS
 button = LAMP1_OFF
 config = /home/pi/433Utils/RPi_utils/send 11111 1 0
end

begin
 prog = irexec
 remote = LAMPS
 button = BAR_ON
 config = /home/pi/433Utils/RPi_utils/send 11111 2 1
end

begin
 prog = irexec
 remote = LAMPS
 button = BAR_OFF
 config = /home/pi/433Utils/RPi_utils/send 11111 2 0
end

begin
 prog = irexec
 remote = LAMPS
 button = LAMP3_ON
 config = /home/pi/433Utils/RPi_utils/send 11111 3 1
end

begin
 prog = irexec
 remote = LAMPS
 button = LAMP3_OFF
 config = /home/pi/433Utils/RPi_utils/send 11111 3 0
end

begin
 prog = irexec
 remote = LAMPS
 button = ECK_ON
 config = /home/pi/433Utils/RPi_utils/send 11111 4 1
end

begin
 prog = irexec
 remote = LAMPS
 button = ECK_OFF
 config = /home/pi/433Utils/RPi_utils/send 11111 4 0
end

begin
 prog = irexec
 remote = LAMPS
 button = INTERTECHNO1_ON
 config = /home/pi/433Utils/RPi_utils/codesend 1048597
end

begin
 prog = irexec
 remote = LAMPS
 button = INTERTECHNO1_OFF
 config = /home/pi/433Utils/RPi_utils/codesend 1048596
end

begin
 prog = irexec
 remote = LAMPS
 button = INTERTECHNO2_ON
 config = /home/pi/433Utils/RPi_utils/codesend 1064981
end

begin
 prog = irexec
 remote = LAMPS
 button = INTERTECHNO2_OFF
 config = /home/pi/433Utils/RPi_utils/codesend 1064980
end